@using CookbookLogic.Dto
@model GuidesDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Recipes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <p>it worked</p>
    </div>
</div>

<script>
    function showChildForm() {
        document.getElementById("childForm").style.display = "block";
    }
</script>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}